{% extends 'base.html.twig' %}

{% block content %}

    <div class="row align-items-center erp-family">

        {% if app.user %}
            <div class="col-md-6 mt-2">
                <h2 class="text-center">Bienvenue
                    {% if is_granted('ROLE_ADMIN') %}
                        Administrateur
                    {% endif %}
                    dans votre espace</h2>
                {% if is_granted('ROLE_ADMIN') %}
                    <hr>
                    <p>Accéder au Dashboard : Paramétrage divers (Pays, type missions, spécialités), paramétrer les
                        planques et les cibles :</p>
                    <a class="btn btn-info" href="{{ path('admin') }}">Dashboard</a>
                    <hr>
                    <p>Paramétrer les missions :</p>
                    <a class="btn btn-info" href="{{ path('missions_index') }}">Les Missions</a>
                    <hr>
                    <p>Paramétrer les Agents :</p>
                    <a class="btn btn-info" href="{{ path('agents_index') }}">Les Agents</a>
                    <hr>
                    <p>Paramétrer les Contacts :</p>
                    <a class="btn btn-info" href="{{ path('contacts_index') }}">Les Contacts</a>
                {% elseif is_granted('ROLE_AGENT') %}
                    <hr>
                    <p>Agent {{ app.user.lastname }} : Accéder à vos missions dont vous êtes rattachés</p>
                    <a class="btn btn-info" href="{{ path('espaceagents') }}">Liste des missions</a>


                {% elseif is_granted('ROLE_CONTACT') %}
                    <hr>
                    <p>Contact {{ app.user.lastname }} : Ci-dessous quelques éléments des missions dont vous êtes le contact</p>
                    <a class="btn btn-info" href="{{ path('espacecontacts') }}">Eléments missions</a>

                {% else %}
                     <hr>
                     <p>Vous n'êtes pas listé dans les bases de donnée, veuillez contacter votre administrateur</p>
                {% endif %}
            </div>


        {% else %}
        <div class="col-md-6 mt-2">
            <h1 class="text-center">LGB Security Agence</h1>
            <p style="font-size: 1.5rem;color:red">Ce site est une réalisation fictive effectuée dans le cadre d'une formation Web Développeur 2020 - 2021</p>
            <p>Agents, Contacts, connectez vous à votre espace : Visualisez vos missions, contacts et cibles.</p>
            <p>LGB Security Agence est une agence gouvernementale qui fournit des renseignements objectifs sur les différents pays
                à travers le monde.</p>
        </div>

        {% endif %}

    </div>


{% endblock %}
