{% extends 'base.html.twig' %}

{% block title %}Edit Planques des Missions{% endblock %}

{% block content %}
    <h1>Planque mission : {{ mission.codename }}</h1>

    {% for message in app.flashes('alert') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}

    {{ include('missions/form.html.twig', {'button_label': 'Sauvegarde'}) }}

        {# {{ include('missions/delete_planques_form.html.twig') }} #}

    <a href="{{ path('missions_index') }}" class="btn btn-primary btn-sm">Retour Liste</a>

{% endblock %}
