<div class="erp-family">
    {{ form_start(form) }}

    <div class="row mb-3 align-items-center">
      <div class="col form-group d-flex d-inline">
          <div class="px-2 align-self-center">{{ form_label(form.title,'Titre') }}</div>
          <div>{{ form_widget(form.title) }}</div>
      </div>
        <div class="col form-group d-flex d-inline">
            <div class="px-2 align-self-center">{{ form_label(form.description,'Description') }}</div>
            <div>{{ form_widget(form.description) }}</div>
        </div>
    </div>
    <hr>
    <div class="row mb-3 align-items-center">
        <div class="col form-group d-flex d-inline">
            <div class="px-2 align-self-center">{{ form_label(form.codename,'Code') }}</div>
            <div>{{ form_widget(form.codename) }}</div>
        </div>
    </div>
    <hr>
    <div class="row mb-3 align-items-center">
        <div class="col form-group d-flex d-inline">
            <div class="px-2 align-self-center">{{ form_label(form.datestart,'Date Début') }}</div>
            <div>{{ form_widget(form.datestart) }}</div>
        </div>
        <div class="col form-group d-flex d-inline">
            <div class="px-2 align-self-center">{{ form_label(form.dateend,'Date Fin') }}</div>
            <div>{{ form_widget(form.dateend) }}</div>
        </div>
    </div>
    <hr>
    <div class="row mb-3 align-items-center">
        <div class="col form-group d-flex d-inline">
            <div class="px-2 align-self-center">{{ form_label(form.typemission,'Type Mission') }}</div>
            <div>{{ form_widget(form.typemission) }}</div>
        </div>
        <div class="col form-group d-flex d-inline">
            <div class="px-2 align-self-center">{{ form_label(form.statutmission,'Statut Mission') }}</div>
            <div>{{ form_widget(form.statutmission) }}</div>
        </div>
    </div>
    <hr>
    <div class="row mb-3 align-items-center">
        <div class="col form-group d-flex d-inline">
            <div class="px-2 align-self-center">{{ form_label(form.paysmission,'Pays Mission') }}</div>
            <div>{{ form_widget(form.paysmission) }}</div>
        </div>
        <div class="col form-group d-flex d-inline">
            <div class="px-2 align-self-center">{{ form_label(form.specialitemission,'Spécialité Mission') }}</div>
            <div>{{ form_widget(form.specialitemission) }}</div>
        </div>
    </div>


    <button class="btn btn-info btn-sm mt-1 mb-1">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
