{% extends 'base.html.twig' %}

{% block title %}Liste des Missions{% endblock %}

{% block content %}
    <a href="{{ path('admin') }}" class="btn btn-primary">Retour DASHBOARD</a>
    <hr>
    <h1>Liste des Missions</h1>
    <div class="table-responsive-md">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nom de Code</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Date Début</th>
                    <th>Date Fin</th>
                    <th>Pays</th>
                    <th>Spécialité</th>
                    <th>Cibles</th>
                    <th>Planques</th>
                    <th>Agents</th>
                    <th>Contacts</th>
                    <th>Statut</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
            {% for mission in missions %}
                <tr>
                    <td>{{ mission.codename }}</td>
                    <td>{{ mission.title }}</td>
                    <td>{{ mission.description }}</td>
                    <td>{{ mission.datestart ? mission.datestart|date('Y-m-d') : '' }}</td>
                    <td>{{ mission.dateend ? mission.dateend|date('Y-m-d') : '' }}</td>
                    <td>{{ mission.paysmission }}</td>
                    <td>{{ mission.specialitemission }}</td>
                    <td>
                        {% for cible in mission.cibles %}
                            {{ cible.getNamecode}} : {{ cible.lastname }} <br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% for planque in mission.planques %}
                            {{ planque.paysPlanque }} <br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% for agent in mission.agents %}
                            {{ agent.code }} : {{ agent.lastname }} <br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% for contact in mission.contacts %}
                            {{ contact.codename }} : {{ contact.lastname }} <br/>
                        {% endfor %}
                    </td>

                    <td>{{ mission.statutmission }}</td>
                    <td>
                        <a href="{{ path('missions_show', {'id': mission.id}) }}" class="btn btn-info btn-sm mb-1">show</a><br/>
                        <a href="{{ path('missions_edit', {'id': mission.id}) }}" class="btn btn-info btn-sm mb-1">edit</a><br/>
                        <a href="{{ path('missions_planques', {'id': mission.id}) }}" class="btn btn-secondary btn-sm mb-1">Planques</a><br/>
                        <a href="{{ path('missions_cibles', {'id': mission.id}) }}" class="btn btn-secondary btn-sm mb-1">Cibles</a><br/>
                        <a href="{{ path('missions_agents', {'id': mission.id}) }}" class="btn btn-secondary btn-sm mb-1">Agents</a><br/>
                        <a href="{{ path('missions_contacts', {'id': mission.id}) }}" class="btn btn-secondary btn-sm mb-1">Contacts</a><br/>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('missions_new') }}" class="btn btn-info">Nouvelle Mission</a>
{% endblock %}
